#menuWrap {
    position: relative;
    display: inline-block;
    width: min(5200px, 90vw);
    margin: 0 auto;
}

body {
  text-align: center;  /* inline-block 가운데 정렬용 */
}

.main{
    color: rgb(75, 155, 132);
    background-color:  rgb(219, 236, 230);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-radius: 12px;
    transition: all 0.3s ease;
    cursor: pointer;
}

@media (hover: hover) {
    .main:hover{
        background-color: rgb(176, 209, 197);
        color: rgb(241, 248, 245);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        transform: scale(1.02);
    }
}



.option-boxes {
  width: min(5200px, 90vw);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-10px); /* 시작 위치 */
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  background-color: rgb(235, 240, 237);
  border-radius: 0 0 12px 12px;
  padding: 10px;
  z-index: 10;
  text-align: center;
}

.option-boxes.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    pointer-events: auto;
}

.option {
    display: inline-block;
    padding: 2.5% 3%;
    margin: 5px;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
    background-color:#e0dfdfd9;
    color: rgb(53, 53, 53);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease;
}

.option:hover {
    background-color: #ffc6e7;
}
  
.malcha:hover{
    color: rgb(0, 105, 0);
}

.malcha{
    font-size: 15pt;
    font-weight: bold;
    color: rgb(37, 164, 37);
    text-shadow: 3px 2px 2px rgb(177, 177, 177);
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px; 
    background-color: #fffbdf;
    width: 80%; 
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

.img-malcha{
    display: block;
    border-radius: 12px;
    
}


#pw,
button {
  width: min(400px, 90%);
  height: 55px;
  font-size: 18px;
  padding: 12px 18px;
  border-radius: 12px;
  box-sizing: border-box;
}


button {
  background-color: #7ada7d;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}


@media (hover: hover) {
  button:hover {
    background-color: #43a047;
  }
}


button:active {
  transform: scale(0.98);
}

.borivid {
    margin: 0 auto;
    width: 90%;
    border-radius: 10px;
    height: 40vw;
}